certifi==2019.9.11
cffi==1.13.2
chardet==3.0.4
colorama==0.4.1
cryptography==2.8
gevent==1.4.0
gevent-eventemitter==2.1
greenlet==0.4.15
idna==2.8
protobuf==3.10.0
pycparser==2.19
requests==2.22.0
six==1.13.0
steam==0.9.1
urllib3==1.25.7
vdf==3.2
wincertstore==0.2
